alembic==1.7.5
attrs==23.1.0
black==23.9.1
blinker==1.6.3
click==8.1.7
colorama==0.4.6
cssbeautifier==1.14.9
djlint==1.34.0
EditorConfig==0.12.3
exceptiongroup==1.1.3
Faker==12.0.1
flake8==4.0.1
Flask==2.0.2
Flask-API==3.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==3.0.0
html-tag-names==0.1.2
html-void-elements==0.1.0
importlib-metadata==6.8.0
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.0.3
jsbeautifier==1.14.9
json5==0.9.14
Mako==1.1.6
MarkupSafe==2.1.3
mccabe==0.6.1
mixer==7.2.2
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.7
pytest==7.1.1
pytest-env==0.6.2
python-dateutil==2.8.2
python-dotenv==0.19.2
PyYAML==6.0.1
regex==2023.10.3
six==1.16.0
SQLAlchemy==1.4.49
tomli==2.0.1
tqdm==4.66.1
typing_extensions==4.8.0
Werkzeug==2.0.2
WTForms==3.0.1
zipp==3.17.0
